// Headers

.header-primary{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
  //  color:rgb(4, 58, 4);
   // text-transform: uppercase;
     text-align: center;
    

}

// Buttonns
.btn{
     width: 15rem;
     height: 5rem;
     border-radius: 8rem;
     font-size: 1.7rem;
     text-transform: uppercase;
     
     &:focus{
         outline: none;
     }
   
}



// STARS
.description-stars{
    font-size: 3rem;
    font-weight: 200;
    &__icon{
        width:1.8rem;
        height:1.8rem;
        fill:rgb(218, 201, 201);
    }
    
    
}




// FOOTER
.footer{
   
    background-color: rgb(9, 59, 9);
    color:white;
    padding:1.5rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    &__copyright{
       font-size: 1.3rem;
       font-weight: 100;
    }
    &__social-media{
        width:15rem;
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    &__icon{
        width:2rem;
        height:2rem;
        fill:white;
    }
}