.section-header{
    width:100vw;
    height:6rem;
   //background-image: linear-gradient(to bottom,rgba(16, 165, 41, 0.2),rgba(11, 168, 95, 0.9));



}
.container{
  width:100vw;
  height:100vh ;


}
.search-section{
  width:100vw;
  height:7rem;
  
 background-color: rgb(225, 236, 225);
 padding:5rem 10rem;
 display:flex;
 justify-content: space-around;


}
.content{
  width:90vw;
  height:100vh ;
  margin: 0 auto;
 //background-color: yellow;  
 
 display:grid;
 grid-template-columns:  minmax(30rem,min-content) 1fr minmax(30rem,min-content) ;
 
 
}

.results{
 // height:100vh;
   padding:1rem 0;
   background-color:rgb(209, 219, 205);
  
  
}
.description{
  background-image: linear-gradient(to bottom,rgb(209, 219, 205),rgb(219, 231, 219),rgb(255, 255, 255),rgb(131, 192, 131),white);
  padding:0 2rem;
  display: grid;
  grid-auto-columns: minmax(min-content,90rem);
  grid-auto-rows: 5rem minmax(40rem,min-content) minmax(20rem,min-content);
  //grid-gap: .5rem;
  justify-content: center;

  align-content: center;


}
.likes{
 // height:100vh;
 padding:2rem 0;
 background-color:rgb(209, 219, 205);

}